body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    color: #ff9900;
}
.meni-opis {
    transition: opacity 0.3s ease; 
}

li a:hover .meni-opis {
    opacity: 0;
    /*display: none;*/ 
}

img {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transition: transform 1s ease, opacity 0.3s ease;
}

li a:hover img {
    transform: scale(1.5);
    opacity: 1;
}